core-common/src/main/resources/META-INF/aty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.aty.com/schema/aty" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="https://blog.csdn.net/zhouzhiwengang/schema/aty" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
 
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
 
	<xsd:element name="file">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="path" type="xsd:string" use="required" />
					<xsd:attribute name="name" type="xsd:string" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
 
</xsd:schema>